<!DOCTYPE html>
<html>
<head>
    <title>HJudge</title>
</head>
<body>
    {% include "components/header.jinja" %}

    {% block content %}
    {% endblock content %}

    {% include "components/footer.jinja"%}
</body>
</html>

<!-- context: user-->
