<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HJudge - Online Judge</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-50 min-h-screen flex flex-col">
    {% include "components/header.jinja" %}

    <main class="flex-grow">
        {% block content %}
        {% endblock content %}
    </main>

    {% include "components/footer.jinja" %}
</body>
</html>

<!-- context: user -->